{% extends "base.html" %}

{% block title %}
Created Invitations
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/starter-template.css">
<link rel="stylesheet" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<style>
  .copyButton {
  cursor: pointer;
  background: #f1bb3a;
}
</style>

{% endblock %}
{% block scripts %}
{{super()}}
<!-- <script type="text/javascript" src="/vendor/jquery/jquery-3.2.1.min.js"></script> -->
<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script> -->
<script>
function copyUrl(target) {
   var str = document.getElementById(target).value;
   // Create new element
   var el = document.createElement('textarea');
   // Set value (string to be copied)
   el.value = str;
   // Set non-editable to avoid focus and move outside of view
   el.setAttribute('readonly', '');
   el.style = {position: 'absolute', left: '-9999px'};
   document.body.appendChild(el);
   // Select text inside element
   el.select();
   // Copy text to clipboard
   document.execCommand('copy');
   // Remove temporary element
   document.body.removeChild(el);
}

document.querySelector("#copyButton").addEventListener("click", copyUrl);

</script>
{% endblock %}
{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">KYUnion 2022</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/created">Show Invitations</a></li>
            <li class=""><a href="/new">Generate Invitations</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if acc_type == 1 %}
            <li><a href="/">Dashboard</a></li>
            {% endif %}
            <li><a href="/logout">Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div>
<!--           <div class="col-sm-9 col-sm-offset-2 col-md-10 col-md-offset-1">
            <button class="btn btn-lg btn-primary .navbar-right" data-toggle="modal" data-target="#add_entry">Add Entry</button>
          </div> -->
        <div class="col-sm-9 col-sm-offset-2 col-md-10 col-md-offset-1 main" id="entries">
            <h1 class="page-header">"Hello {{ user.firstName }}!</h1>

            <h2 class="sub-header">List of generated Invitation Card</h2>

            <div class="container-fluid">
  <div class="row">
      <div class="col-md-6">
<!--        <button type="button" class="btn btn-primary custom-button-width">z1</button> -->
        </div>
        <div class="col-md-6 text-right">
        <a type="button" class="btn btn-info .navbar-right" href="/new">Generate IV</a>
        <!-- <button style="height:38px; " class="btn btn-lg btn-primary .navbar-right" data-toggle="modal" data-target="#add_entry">Add Entry</button> -->
      <!-- <button type="button" class="btn btn-danger .navbar-right">z3</button> -->
      </div>
  </div>
</div>

            
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>SN</th>
                    <th>Seat Number</th>
                    <th>Guest Name</th>
                    <th>Invited By</th>
                    <th>Table Label</th>
                    <th>Generated By</th>
                    <th>View Invitation</th>
                    <th>Date Posted</th>
                  </tr>
                </thead>
                <tbody>
                  {% set url = window.location.host %}
                  {% for entry in payload %}
                  <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ entry.seatnumber}}</td>
                    <td>{{ entry.guestname}}</td>
                    <td>{{ entry.invitedby}}</td>
                    <td>{{ entry.tablelabel}}</td>
                    <td>{% if user.id == entry.createdby %}
                      <b><em>&nbsp;&nbsp;&nbsp;&nbsp;Me</em></b>
                      {%else%}
                      {{ entry.creator }}
                      {%endif%}
                    </td>
                    <td>
                      <a href="/{{entry.urlcode}}" target="_blank">
                        <font color="blue">View IV </font>
                      </a> 
                      <span class="copyButton" id="{{loop.index}}-copyButton" class="btn" onclick="copyUrl(this.getAttribute('data-target'))" data-target="{{loop.index}}-copyTarget">
                        <i class="fa fa-clipboard" aria-hidden="true"></i>&nbsp; Copy
                      </span>
                      <input type="text" class="copyTarget" id="{{loop.index}}-copyTarget" hidden value='http://{{host}}/{{entry.urlcode}}'>
                    </td>
                    <td>{{ entry.timestamp }}</td>
                    <td>
                    {% if user.username == "oibitoye" %}
                        <button type="button" class="btn btn-danger delete-funds-btn" data-toggle="modal" data-target="#del-{{ loop.index }}">Delete</button>&nbsp;&nbsp;<button type="button" class="btn btn-primary edit-funds-btn" data-toggle="modal" data-target="#edit-{{ loop.index }}">Modify</button>
                      <!--Tranzact Modal 2 -->
                      <div class="modal fade" id="del-{{ loop.index }}" role="dialog" tabindex="-1">
                        <div class="modal-dialog">

                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header" style="padding:35px 50px;">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4><span class="glyphicon glyphicon-envelope"></span>Delete Entry</h4>
                            </div>
                            <div class="modal-body" style="padding:40px 50px;">
                              <form class="form-signin" id="del_input" method="POST" action="/show_entries">
                                <h2 class="form-signin-heading"><b>Delete This Entry</b></h2>
                                
                                <button class="btn btn-lg btn btn-danger" type="submit">Delete Entry</button>
                              </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endif %}
                    </td>
              </tr>
                  </tr>
                    {% else %}
                      <br><li><em>Unbelievable.  No entry here at the moment</em></li><br>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
        <script>
            setInterval(function()
            {
            $('#entries').load(document.URL +  ' #entries');
            }, 70000)

        </script>
    </div>
 <!--Add Entry Modal -->
  <div class="modal fade" id="add_entry" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;&nbsp;Add Entry</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form class="form-signin" method="POST" action="/show_entries">
            <h2 class="form-signin-heading"><b>Add Entry</b></h2>
            <button class="btn btn-lg btn-primary" type="submit" type="submit" name="submit" value="add_ent">Make Request</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
