<!doctype html>
<html>
    <head>
        <title>KYUnion | {%block title%}{%endblock%}</title>
        <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        {%block style%}{%endblock%}
    </head>
    <div class=page>
      <h1>KYUnion 2022</h1>
      <div class=metanav>
      {% if not loggedIn %}
        <a href="/login">log in</a>
      {% else %}
        <a href="/logout">log out</a>
      {% endif %}
      </div>
      {%if message %}
      {% for message in get_flashed_messages() %}
        <div class=flash>{{ info.msg }}</div>
      {% endfor %}
      {%endif%}
      <body>
        {% block content %}{% endblock %}
      </body>
    </div>
</html>